<style>
  #slide-row{
    min-height:300px;
  }
  .slide{
    min-height:250px;
  }
</style>

<div class="row">
  <div class="jumbotron visible-xs-block row">
    <div class="col-xs-12">
      <img src="person.png" class="responsive" style="display:block;margin:auto auto;">
    </div>
    <div class="col-xs-12" style="text-align:justify">
      <p>
        <br>I am <strong>innovative</strong>, <strong>curious</strong>, and <strong>practical</strong>.
        <br>I am always looking for the next challenge.
        <br>I am a developer.
        <br><br>
        I am currently completing my <strong>Computer Science degree (B.S)</strong> at Grand Valley State University,
        along with a <strong>minor in Mathematics</strong>. I'm <strong>passionate</strong> in what I do, and the hardest part right now is
        making the time for everything I want to do such as learning new technologies, developing new software projects,
        and doing more web development. I try to keep everything prioritized so I can keep focus on what needs
        to be done now, and what will need to be done later.
        <br><br>
        All of my personal work is posted in the <a href="#/pastprojects">projects</a> section, but also on my
        <a href="https://github.com/rballinger">Github</a>,
        so feel free to take a look!
        <br><br>
        In addition to projects, you can also take a look at posts from my developer blog
        <a href="#/blog">here</a>. Updates include programming challenges I complete, new technologies I
        look into, and updates on any projects I'm working on.
        <br><br>
        Visit my <a href="#/contact">contact page</a> if you want to reach out to me!
      </p>
    </div>
  </div>
  <div class="jumbotron hidden-xs">
    <div class="row" id="slide-row">
      <div id="slide1" class="slide row">
        <div class="col-xs-12 col-md-3">
          <img src="person.png" class="img-responsive" style="display:block;margin:auto auto;">
        </div>
        <div class="col-xs-12 col-md-9" style="text-align:justify">
          <h1>Who Am I?</h1>
          <p>
            I am <strong>innovative</strong>, <strong>curious</strong>, and <strong>logical</strong>.
            <br>I am <strong>passionate</strong> about programming, whether it be old, new, front-end, back-end, or just local, I'm
            always looking for the next challenge.
            <br><br><a class="btn btn-primary btn-lg" href="skills.html" role="button">See what I know &raquo;</a>
          </p>
        </div>
      </div>
      <div id="slide2" class="slide row" style="display:none">
        <div class="col-xs-12 col-md-3">
          <img src="person.png" class="img-responsive" style="display:block;margin:auto auto;">
        </div>
        <div class="col-xs-12 col-md-9" style="text-align:justify">
          <h1>What do I do?</h1>     
          <p>
            My latest projects include this website along with a web application I collaborated on!
            <br><br>
            <a class="btn btn-primary btn-lg" href="#/pastprojects" role="button">See more projects &raquo;</a><br><br>
            <small>Almost all my projects can also be found on my
            <a href="https://github.com/rballinger">Github</a>,
            where they are given in more detail.</small>
          </p>
        </div>
      </div>
      <div id="slide3" class="slide row" style="display:none">
        <div class="col-xs-12 col-md-3">
          <img src="person.png" class="img-responsive" style="display:block;margin:auto auto;">
        </div>
        <div class="col-xs-12 col-md-9" style="text-align:justify">
          <h1 style="text-align:left">View posts from my Developer Blog!</h1>
          <p>
            Where I post updates on learning new technologies, how projects may be going, and my solutions
            to programming problems I go through.
            <br><br>
            <a class="btn btn-primary btn-lg" href="blog.html" role="button">Check it out &raquo;</a>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <a href="">
        <span ng-click="slideClick('right', $event)" style="float:right;margin:10px" class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
      <a href="">
        <i id="slideIcon3" ng-click="slideClick('3', $event)" style="float:right;margin:10px" class="fa fa-fw fa-circle-o slideicon"></i>
      </a>
      <a href="">
        <i id="slideIcon2" ng-click="slideClick('2', $event)" style="float:right;margin:10px" class="fa fa-fw fa-circle-o slideicon"></i>
      </a>
      <a href="">
        <i id="slideIcon1" ng-click="slideClick('1', $event)" style="float:right;margin:10px" class="fa fa-fw fa-dot-circle-o slideicon"></i>
      </a>
      <a href="">
        <span ng-click="slideClick('left', $event)" style="float:right;margin:10px" class="glyphicon glyphicon-circle-arrow-left slideicon"></span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Why am I a software developer?</h3>
      </div>
      <div class="panel-body">
        One simple reason: I love developing new things.<br><br>
        I find myself passionate when I get down to work, and love that ecstatic feeling
        of getting something to work exactly the way you want it to.<br><br>
        I am also currently a semester away from receiving my Computer Science B.S. and Mathematics minor.
        So I am excited to move forward and start my career using all of the valuable skills both in programming
        and non-programming I have learned throughout college.
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">High Level Skills</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">Reading and understanding code</li>
          <li class="list-group-item">Documenting code and following standards</li>
          <li class="list-group-item">Learning new languages easier by looking past the syntax</li>
          <li class="list-group-item">Ability to view the broad picture of how everything comes together</li>
          <li class="list-group-item">Solving difficult programming problems</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Interpersonal Skills</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">Oral Communication</li>
          <li class="list-group-item">Technical Writing</li>
          <li class="list-group-item">Self-Management</li>
        </ul>
      </div>
    </div>
  </div>
</div>