<div class="jumbotron">
  <div class="row">
    <div class="col-md-7">
      <h1 style="text-align:center">Reach out to me via:</h1>
    </div>
    <div class="list-group col-md-5">
      <a class="list-group-item" href="https://www.linkedin.com/in/ryanballinger"><i class="fa fa-lg fa-linkedin"></i>&nbsp;| LinkedIn: Ryan Ballinger</a>
      <a class="list-group-item" href="https://www.github.com/rballinger"><i class="fa fa-lg fa-github"></i>&nbsp;| Github: @rballinger</a>
      <a class="list-group-item" href="mailto:rballinger@gmail.com"><i class="fa fa-lg fa-envelope"></i>&nbsp;| Gmail: rballinger5@</a>
    </div>
  </div>
</div>